@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #b2a59b;
}

.header .head {
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  background-color: #faeed1;
  filter: drop-shadow(0 0 5px black);
  border-radius: 2rem;
  border: solid #faeed1 2px;
}

.header .head .quastion-Text-Wrap {
  height: 15%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 2rem 2rem 0 0;
  background-color: #ded0b6;
}

.header .head .quastion-Text-Wrap .quastion-Text {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.header .head .quastions-Wrap {
  height: 50%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .head .quastions-Wrap ul {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header .head .quastions-Wrap ul li {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: start;
  width: 80%;
  height: 20%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.header .head .quastions-Wrap ul li input {
  padding: 0;
  margin: 0;
}

.header .head .button-Wrap {
  height: 40%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .head .button-Wrap .submit-Btn {
  padding: 10px 50px;
  border-radius: 1rem;
  border: solid #b2a59b 2px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  transition: all 100ms ease-in-out;
}

.header .head .button-Wrap .submit-Btn:hover {
  border: solid #ded0b6 5px;
  background-color: #b2a59b;
  color: #faeed1;
  transform: scale(1.1);
}

.header .head .button-Wrap .submit-Btn:active {
  transform: scale(0.9);
  background-color: white;
  color: #ded0b6;
}
