@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.header .head {
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  background-color: aliceblue;
}

.header .head .quastion-Text-Wrap {
  height: 15%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header .head .quastion-Text-Wrap .quastion-Text {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
